.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.sections_header {
    margin-top: 5px;
}

nav {
    background-color: #00bfa5;
}

body {
background-color: #bee7fa;
}

.card {
background-color: rgb(196, 194, 194);
margin-top: 50px;
}