.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.sections_header {
    margin-top: 5px;
}

nav {
    background-color:#4db6ac;
}

body {
background-image:url(../static/img/fundo.jpg);
}