{% extends 'base.html' %} 
{% block lines %} 

  <ul class="collapsible" data-collapsible="accordion">
    {% for handover in handover %}
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_ind</i>
      <strong>{{handover.title}} - {{handover.first_name}} - {{handover.surname}}</strong>
      </div>
      <div class="collapsible-body"><span>
      {{handover.dob}} - {{handover.address}} - {{handover.diabetes}}
      </span>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}