{% extends 'base.html' %} 
{% block lines %}

<div class="row">
<h5> Sections </h5>
  <ul class="collapsible" data-collapsible="accordion">
    {% for sections in sections %}
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_ind</i>
                    <a href="{{url_for('delete_sections', sections_id=sections._id)}}" class="waves-effect waves-light btn btn_small">DEL</a>
                    <a href="{{url_for('edit_sections', sections_id=sections._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>            
                <div class="handover_header col s9">
      <strong>{{sections.select_option}}</strong>
      </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  </div>  
<div class="row">
    <a href="{{url_for('add_sections')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Sections
    </a>
</div>
{% endblock %}